###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# Docker
.docker/docker-compose.yml
.docker/.env.*
.docker/db
.docker/logs
!.docker/php-fpm
!.docker/nginx
*.log

# Git
.git
.gitignore

# IDE
.idea
.vscode

# Documentation
*.md
!README.md
